.navbar ul {
  float: none;
}
.navbar li {
  float: none;
  font-size: 15px;
  margin: 6px;
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 270px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}

.text {
  padding-top: 4px;
  font-weight: lighter;
  color: aliceblue;
}
